{% extends "core/base_generic.html" %}

{% block content %}
  <h1>Bezen Home</h1><br>
  <h3>Video Uploader</h3><br>
  <div class="row">
  <div class="col" id="wrapper_1">
    {% if form %}
    <form method="POST" enctype="multipart/form-data">
      <!--
      <label for="html">Name</label><br>
      <input type="text" name = "name"><br>
      <label for="html">Video</label><br>
      <input type="file" name="video" id="demos_video"><br>
      -->
      {% csrf_token %}
      {{ form.as_p }}

    <input class="btn btn-primary" type="submit" value="submit">
  </form>
  {% endif %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
      {% endfor %}
  </ul>
  {% endif %}
  <ul>
  </ul>
  </div>
<div class="col" id="wrapper_2">
  <p>See list of uploaded video</p>
  <ul>
    {% for i in qs %}
    <li>
      <div>
      {{i.name}}
      </div>
      <div class="gadget">
       
        <form method="POST" id="search" action={% url 'search' i.id %}>
           <span>
            {% csrf_token %}
              <input type="text" name="search" id="s" />
              <input class="btn btn-primary" type="submit" value="submit">
           </span>
        </form>
      
      </div>
      <ul>
        <li >uploaded_at: {{i.created_at}}</li>
        <li>url: {{i.attachment.url}}</li>
      </ul>
    </li>
  </ul>
  {%endfor%}
</div>
</div>
{% endblock %}
