{% extends "core/base_generic.html" %}

{% block content %}
  <h1>Bezen Home</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
  <h2>Video Uploader</h2>
  <p>The library has the following record counts:</p>
  <div>
    <form method="POST" enctype="multipart/form-data", action = "/">
      <!--
      <label for="html">Name</label><br>
      <input type="text" name = "name"><br>
      <label for="html">Video</label><br>
      <input type="file" name="video" id="demos_video"><br>
      -->
      {% csrf_token %}
      {{ form.as_p }}
    <button type="submit">Upload</button>

  <input class="btn btn-primary" type="submit" value="submit">
  </form>
  </div>
  <ul>
  </ul>
{% endblock %}
