.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}
ul {
    color: green;
    background-color: transparent;
    text-decoration: none;
    font-size:30px;
  }

  .sidebar .gadget {
    margin: 0;
    padding: 20px 16px 20px 30px;
  }

  #wrapper_1 {
    background-color: pink;
    height: 100px;
    float: left;
    width: 100px;
  }
  #wrapper_1:after {
    content: "";
    background-color: #000;
    position: absolute;
    width: 5px;
    height: 100px;
    top: 10px;
    left: 50%;
    display: block;
  }
  #wrapper_2 {
    background-color: brown;
    height: 100px;
    width: 100px;
    float: right;
  }